@using Microsoft.AspNetCore.Identity
@using GeneralCargoSystem.Utility
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<style>
    #footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: black;
        text-align: center;
        height: 30px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .dropdown:hover > .dropdown-menu {
        display: block;
    }
</style>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | General Cargo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GeneralCargoSystem.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/morph.css" />
    <link rel="icon" type="image/png" href="~/FPT-Icon.png" />
    <link rel="stylesheet" href="~/lib/fontawesome-6.2.0/css/all.css" />
    <link rel="stylesheet" href="~/lib/sweetalert2-11.5.1/css/sweetalert2.css" />
    <link rel="stylesheet" href="~/lib/datatables/datatables.min.css"/>
    <link rel="stylesheet" href="~/lib/datatables/Buttons-2.2.3/css/buttons.dataTables.min.css"/>

</head>
<body>
    @if (SignInManager.IsSignedIn(User))
    {
        <header>

            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="GCAnalytics" asp-controller="Dashboard" asp-action="Index"><img src="~/FPT-Icon.png" alt="FPT" height="55" /><b>FPT Group </b>(Pty) Ltd</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1 text-center">

                            <li class="nav-item dropdown mx-auto">

                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-gauge"></i> General Cargo Analytics</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-area="GCAnalytics" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                                        <a class="dropdown-item" href="#">Reports</a>
                                    </div>
                            </li>

                            <li class="nav-item dropdown mx-auto">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-book"></i> Booking Management</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="GCAnalytics" asp-controller="Dashboard" asp-action="Index">New Booking</a>
                                    <a class="dropdown-item" href="#">View Bookings</a>
                                </div>
                            </li>
                            @if (User.IsInRole(Role.Supervisor))
                            {
                                <li class="nav-item dropdown mx-auto">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-sliders"></i> System Management</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-area="GCAnalytics" asp-controller="Dashboard" asp-action="Index">Warehousing</a>
                                        <a class="dropdown-item" href="#">Periodical Time Slots</a>
                                    </div>
                                </li>
                            }

                            @if (User.IsInRole(Role.Supervisor))
                            {
                                <li class="nav-item dropdown mx-auto">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-users-gear"></i> User Management</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-area="Management" asp-controller="Systems" asp-action="Index">Users</a>
                                        <a class="dropdown-item" href="#">User Emails</a>
                                    </div>
                                </li>
                            }

                            <li class="nav-item mx-auto">
                        <a class="nav-link text-dark" asp-area="Scaffolded" asp-controller="Home" asp-action="Index"> <i class="fa fa-computer"></i> Support</a>
                        </li>
                            @*                            <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Scaffolded" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Scaffolded" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*    <footer class="c-footer">
    <div class="container">
    &copy; 2022 - General Cargo System  - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@
    <footer id="footer" class="card-footer">

        <p> General Cargo System Copyright &copy; 2022 | All Rights Reserved.</p>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/sweetalert2-11.5.1/js/sweetalert2.all.js"></script>
    <script src="~/lib/datatables/datatables.min.js"></script>
    <script src="~/lib/datatables/Buttons-2.2.3/js/buttons.dataTables.js"></script>
    <script src="~/lib/datatables/Buttons-2.2.3/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables/Buttons-2.2.3/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables/Buttons-2.2.3/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables/Buttons-2.2.3/js/pdfmake.min.js"></script>
    <script src="~/lib/datatables/Buttons-2.2.3/js/jszip.min.js"></script>
    <script src="~/lib/datatables/Buttons-2.2.3/js/vfs_fonts.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
