@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ApplicationUser applicationUser = (ApplicationUser)await UserManager.GetUserAsync(User);
}
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button class="btn text-dark" asp-area="Identity" asp-page="/Account/Manage/Index"><i class="fa fa-circle-user"></i> Good Day @applicationUser.FirstName </button>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop2" type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Manage"></button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Email" title="Manage">Email</a>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/ChangePassword" title="Manage">Password</a>
                </div>
            </div>
        </div>
    @*<li class="nav-item">
            <a class="w-70 btn btn-sm btn-outline-success text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fa fa-circle-user"></i> Hello @User.Identity?.Name!</a>
    </li>*@
    <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Login", "Account", new { area = "Identity" })">
                <button type="submit" class="btn btn-secondary "><i class="fa fa-sign-out"></i> Logout</button>
        </form>
    </li>

}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>


