@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
<style>
    #currentPassword {
        padding-left: 25px;
    }

    #newPassword {
        padding-left: 25px;
    }

    #confirmPassword {
        padding-left: 25px;
    }

    .btn-outline-secondary {
        border-radius: 10px;
    }
</style>
<center><h3>@ViewData["Title"]</h3></center>
<partial name="_Status" for="StatusMessage" />
<div class="row ">
    <div class="col-md-6 mx-auto">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*            <div class="form-floating">
            <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
            <label asp-for="Input.OldPassword" class="form-label"></label>
            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>*@
            <div class="input-group mb-3">
                <input asp-for="Input.OldPassword" id="currentPassword" class="form-control" placeholder="Current Password" />
                <div class="input-group-append">
                    <a class="btn btn-outline-secondary" onclick="currentPasswordVisible()"><i id="currentPasswordToggle" class="fas fa-eye-slash"></i></a>
                </div>
            </div>
            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            <br />
            <div class="input-group mb-3">
                <input asp-for="Input.NewPassword" id="newPassword" class="form-control" placeholder="New Password" />
                <div class="input-group-append">
                    <a class="btn btn-outline-secondary" onclick="newPasswordVisible()"><i id="newPasswordToggle" class="fas fa-eye-slash"></i></a>
                </div>
            </div>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            @*            <div class="form-floating">
            <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
            <label asp-for="Input.NewPassword" class="form-label"></label>
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>*@
            <br />
            <div class="input-group mb-3">
                <input asp-for="Input.ConfirmPassword" id="confirmPassword" class="form-control" placeholder="Confirm Password" />
                <div class="input-group-append">
                    <a class="btn btn-outline-secondary" onclick="confirmPasswordVisible()"><i id="confirmPasswordToggle" class="fas fa-eye-slash"></i></a>
                </div>
            </div>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            @*            <div class="form-floating">
            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
            <label asp-for="Input.ConfirmPassword" class="form-label"></label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>*@
            <br />
            <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
        </form>
    </div>
</div>

<script>

    function currentPasswordVisible() {
        var x = document.getElementById("currentPassword");
        var passwordToggle = document.getElementById("currentPasswordToggle");
        if (x.type === "password") {
            x.type = "text";
            passwordToggle.className = "fas fa-eye";
        } else {
            x.type = "password";
            passwordToggle.className = "fas fa-eye-slash";
        }
    }

    function newPasswordVisible() {
        var x = document.getElementById("newPassword");
        var passwordToggle = document.getElementById("newPasswordToggle");
        if (x.type === "password") {
            x.type = "text";
            passwordToggle.className = "fas fa-eye";
        } else {
            x.type = "password";
            passwordToggle.className = "fas fa-eye-slash";
        }
    }

    function confirmPasswordVisible() {
        var x = document.getElementById("confirmPassword");
        var passwordToggle = document.getElementById("confirmPasswordToggle");
        if (x.type === "password") {
            x.type = "text";
            passwordToggle.className = "fas fa-eye";
        } else {
            x.type = "password";
            passwordToggle.className = "fas fa-eye-slash";
        }
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
