@model GeneralCargoSystem.Models.GC.Commodity

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Commodity Information</h4>
    <hr />
    <div class="card">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.CommodityItem)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.CommodityItem)
                </dd>
            </dl>
        </div>
    </div>

</div>
