@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<style>
    #ForgotpasswordpageBody {
        padding-top: 50px;
        background-image: url('/images/BG_3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .card {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
        border-radius: 20px;
    }
</style>
@*<h1>@ViewData["Title"]</h1>*@
<body id="ForgotpasswordpageBody">
    @*    <h2>Enter your email.</h2>*@
    <hr />
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        <center><img src="~/FPT-Icon.png" alt="FPT" height="120" /></center>
                        <center><h5><p>Reset your password.</p></h5></center>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"/>
                            <label asp-for="Input.Email" class="form-label"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <br />
                        <button type="submit" class="w-100 btn btn-small btn-primary">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
