@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<br />
<center><img src="~/FPT-Icon.png" alt="FPT" height="300" /></center>
@*<h1>@ViewData["Title"]</h1>*@
@*<p>
    Please check your email to reset your password.
</p>*@
@{
    <div class="alert alert-success alert-dismissible" role="alert" style="text-align:center;font-size:x-large;">
        Please check your email to reset your password.
    </div>
}
