@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

@*<h1>@ViewData["Title"]</h1>*@
<br />
<center><img src="~/FPT-Icon.png" alt="FPT" height="300" /></center>
<br />
<center>
    <p style="font-size:x-large;">
        Your password has been reset. @*Please <a asp-page="./Login">click here to log in</a>.*@
        <form asp-area="Identity" asp-page="/Account/Login">
            <button type="submit" class="btn btn-lg btn-primary"> <i class="fa fa-sign-in"></i> Login</button>
        </form>
    </p>
</center>
