@model GeneralCargoSystem.Models.GC.Vessels

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Vessel Information</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VesselName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VesselName)
        </dd>
    </dl>
</div>
