@model GeneralCargoSystem.Models.GC.GCBooking

@{
    ViewData["Title"] = "Update";
}
<style>
    .modal-dialog {
        overflow-y: initial !important
    }

    .modal-body {
        max-height: calc(100vh - 200px);
        overflow-y: auto;
    }
</style>
<h4>Update Booking : @Model.BookingReference </h4>
<hr />
<div class="row">
    <div>
        <form asp-action="Edit" id="updateForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="form-group col-sm-6 mx-auto">
                    <label class="control-label"> Booked Date</label>
                    <input asp-for="Date" class="form-control" id="selectedDate" disabled />
                </div>

                <div class="form-group col-sm-6 mx-auto">
                    <label class="control-label">Booked Time</label>
                    <input asp-for="Time" class="form-control" disabled id="selectedTime" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group col-sm-6 mx-auto">
                    <label asp-for="LogisticalTransporterId" class="control-label"></label>
                    <select asp-for="LogisticalTransporterId" class="form-control form-select" asp-items="ViewBag.LogisticalTransporterId">
                        <option value="">Select Transporter</option>
                    </select>
                    <span asp-validation-for="LogisticalTransporterId" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6 mx-auto">
                    <label asp-for="Registration" class="control-label"></label>
                    <input asp-for="Registration" class="form-control" />
                    <span asp-validation-for="Registration" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group col-sm-6 mx-auto">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" min="0" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6 mx-auto">
                    <label asp-for="CommodityId" class="control-label"></label>
                    <select asp-for="CommodityId" class="form-control form-select" asp-items="ViewBag.CommodityId">
                        <option value="">Select Commodity</option>
                    </select>
                    <span asp-validation-for="CommodityId" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group col-sm-6 mx-auto">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6 mx-auto">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group col-sm-6 mx-auto">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group col-sm-6 mx-auto">
                    <label asp-for="FPTSiteId" class="control-label"></label>
                    <select asp-for="FPTSiteId" class="form-control form-select" asp-items="ViewBag.FPTSiteId">
                        <option value="">Select FPT Site</option>
                    </select>
                    <span asp-validation-for="FPTSiteId" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group">
                @*<label asp-for="VesselId" class="control-label"></label>*@
                <label class="control-label"> Vessel</label>
                <select asp-for="VesselId" class="form-control form-select" asp-items="ViewBag.VesselId">
                    <option value="">Select Vessel</option>
                </select>
                <span asp-validation-for="VesselId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <textarea asp-for="Comments" class="form-control"></textarea>
            </div>
            <br />
            <div class="form-group" style="padding-top:10px; float:right;">
                <input type="submit" value="Update Booking" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    $.validator.unobtrusive.parse("#updateForm");
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
