@model GeneralCargoSystem.Models.GC.GCBooking

@{
    ViewData["Title"] = "Booking Initiation";

    var stat1 = ViewBag.Status1;
    var stat2 = ViewBag.Status2;
    var selectedDate = ViewBag.TDate;
}
<style>
    #vbooking .mx-auto {
        display: block;
    }

    #cbooking {
        display: none;
    }

</style>
<center>
    <heading>
        <h2>Booking Initialization</h2>
    </heading>
</center>
<hr />
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">

            <div class="card-body">
                <heading>
                    <h2><b>Select A Date <i class="fa fa-calendar"></i></b></h2>
                </heading>
                <hr />
                <div>
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input asp-for="Date" class="form-control datetime" id="date" value="@selectedDate" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="card">

            <div class="card-body">
                <heading>
                    <h2><b>Note <i class="fa fa-bell"></i></b></h2>
                </heading>

                <hr />
                <div>

                    <div class="form-group">
                        <p> 1. Only 30 bookings available for each hour</p>
                        <p> 2. In order to view <b>specific booking(s)</b> , select a date</p>
                        <p> 3. Bookings can only be made from today & onwards</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 mx-auto">
        <div class="card" id="time">
            <div class="card-body">
                <heading>
                    <h2><b>Select A Time <i class="fa fa-clock"></i></b></h2>

                </heading>
                <center>
                    <heading>
                        Time Slot Status : <span class="badge rounded-pill btn-primary active">Available</span>  <span class="badge rounded-pill btn-danger active">Unavailable</span>
                    </heading>
                </center>

                <hr />

                <div>

                    <div class="btn-group" id="btn-group1">
                        <a class="btn btn-primary active" id="btn1">01:00</a>
                        <a class="btn btn-primary active" id="btn2">02:00</a>
                        <a class="btn btn-primary active" id="btn3">03:00</a>
                        <a class="btn btn-primary active" id="btn4">04:00</a>
                        <a class="btn btn-primary active" id="btn5">05:00</a>
                        <a class="btn btn-primary active" id="btn6">06:00</a>
                    </div>
                    <br />
                    <br />
                    <div class="btn-group" id="btn-group2">
                        <a class="btn btn-primary active" id="btn7">07:00</a>
                        <a class="btn btn-primary active" id="btn8">08:00</a>
                        <a class="btn btn-primary active" id="btn9">09:00</a>
                        <a class="btn btn-primary active" id="btn10">10:00</a>
                        <a class="btn btn-primary active" id="btn11">11:00</a>
                        <a class="btn btn-primary active" id="btn12">12:00</a>
                    </div>
                    <br />
                    <br />
                    <div class="btn-group" id="btn-group3">
                        <a class="btn btn-primary active" id="btn13">13:00</a>
                        <a class="btn btn-primary active" id="btn14">14:00</a>
                        <a class="btn btn-primary active" id="btn15">15:00</a>
                        <a class="btn btn-primary active" id="btn16">16:00</a>
                        <a class="btn btn-primary active" id="btn17">17:00</a>
                        <a class="btn btn-primary active" id="btn18">18:00</a>
                    </div>
                    <br />
                    <br />
                    <div class="btn-group" id="btn-group4">
                        <a class="btn btn-primary active" id="btn19">19:00</a>
                        <a class="btn btn-primary active" id="btn20">20:00</a>
                        <a class="btn btn-primary active" id="btn21">21:00</a>
                        <a class="btn btn-primary active" id="btn22">22:00</a>
                        <a class="btn btn-primary active" id="btn23">23:00</a>
                        <a class="btn btn-primary active" id="btn24">00:00</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modelWindow" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog w3-animate-zoom" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="generic-modal-close" type="button" class="btn-close btn btn-danger active" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <center>
                    <h3>Selected Time ~ <text id="bookedTime"> </text> </h3>

                </center>
                <hr />
                <div class="row">
                    <div class="col-sm-6" id="cbooking">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Continue Booking ?</h5>
                                <center>
                                    <p class="card-text"><i class="fa fa-5x fa-book-open"></i></p>
                                </center>
                                <br />

                                <a class="btn btn-primary" id="btnBooking" data-ajax="true" data-ajax-url="@Url.Action("Booking","GCBookings",new{bTime=""})" data-ajax-success="Modal.PartialView">Continue With Booking</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 mx-auto" id="vbooking">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">View Bookings ?</h5>
                                <center>
                                    <p class="card-text"><i class="fa fa-5x fa-table"></i></p>
                                </center>
                                <br />
                                <a class="btn btn-primary" id="btnSpecificBooking" data-ajax="true" data-ajax-url="@Url.Action("SpecificBooking","GCBookings")" data-ajax-success="Modal.PartialView">View Bookings At This Time</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" data-bs-dismiss="modal" class="btn btn-default">Close</button>*@
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        // > Greater
        // < Less

        var dateInput = document.getElementById('date');
        let currentDate = new Date().toJSON().slice(0, 10);
        let getTime = new Date();
        var currentTime = getTime.getHours() + ":" + getTime.getMinutes();
        const div = document.querySelector("div.col-sm-6 mx-auto");
        var book = document.getElementById('cbooking');
        var bookedTime = document.getElementById('bookedTime');
        var btn = document.getElementById("btnBooking");
        var sBtn = document.getElementById("btnSpecificBooking");
        var time;

        let btns = document.querySelectorAll('#btn1,#btn2,#btn3 , #btn4,#btn5 , #btn6 ,#btn7,#btn8,#btn9,#btn10,#btn11,#btn12, #btn13,#btn14,#btn15,#btn16,#btn17,#btn18,#btn19, #btn20,#btn21,#btn22,#btn23,#btn24');

        for (i of btns) {
            i.addEventListener('click', function () {

                if (dateInput.value != "" && i.classList.contains("btn", "btn-primary", "active")) {
                    book.style.display = "block";
                }
            });
        }




        //Status - 01:00
        if (@stat1.Count == 4) {

            document.getElementById("btn1").classList.remove("btn", "btn-primary", "active");
            document.getElementById("btn1").classList.add("btn", "btn-danger", "active");

            document.getElementById("btn1").addEventListener('click', function handleClick() {

                book.style.display = "none";
            });
        }

        //Status - 02:00
        if (@stat2 == 4) {

            document.getElementById("btn2").classList.remove("btn", "btn-primary", "active");
            document.getElementById("btn2").classList.add("btn", "btn-danger", "active");
            document.getElementById("btn2").addEventListener('click', function handleClick() {

                book.style.display = "none";

            });
        }

        $("#date").change((a) => {
            if (a.target.value) {
                book.style.display = "block";

                location.href = "/GCCustomer/GCBookings/InitiateBooking?queryDate= " + dateInput.value;

            }
            else {
                book.style.display = "none";
            }
        });


        $('#btn-group1').click(function () {
            $('#modelWindow').modal('show');
        });
        $('#btn-group2').click(function () {
            $('#modelWindow').modal('show');
        });
        $('#btn-group3').click(function () {
            $('#modelWindow').modal('show');
        });
        $('#btn-group4').click(function () {
            $('#modelWindow').modal('show');
        });

        $('#btnBooking').click(function () {



            if (dateInput.value < currentDate) {

                Swal.fire(
                    'Invalid Booking Date',
                    '',
                    'warning'
                )
                btn.attributes[2].value = false;
                $('#modelWindow').modal('hide');
            } else {
                btn.attributes[2].value = true;
                $('#modelWindow').modal('hide');
            }

        });


        $('#btnSpecificBooking').click(function () {

            if (dateInput.value == "") {

                Swal.fire(
                    'Select A Date',
                    '',
                    'error'
                )
                sBtn.attributes[2].value = false;

                $('#modelWindow').modal('hide');
            } else {
                sBtn.attributes[2].value = true;
                $('#modelWindow').modal('hide');
            }


        });


        const onClick = function () {

            bookedTime.innerHTML = this.innerHTML;
            time = this.innerHTML;
            btn.attributes[3].value = "/GCCustomer/GCBookings/Booking?bDate= " + dateInput.value + "&bTime=" + this.innerHTML;

            sBtn.attributes[3].value = "/GCCustomer/GCBookings/SpecificBooking?sDate= " + dateInput.value + "&sTime=" + this.innerHTML;



            if (dateInput.value === currentDate) {

                $('#btnBooking').click(function () {
                    if (time < currentTime) {

                        Swal.fire(
                            'Invalid Booking Time',
                            '',
                            'warning'
                        )
                        btn.attributes[2].value = false;
                        $('#modelWindow').modal('hide');
                    } else {
                        btn.attributes[2].value = true;
                        $('#modelWindow').modal('hide');
                    }
                });

            }
        }

        document.getElementById('btn1').onclick = onClick;
        document.getElementById('btn2').onclick = onClick;
        document.getElementById('btn3').onclick = onClick;
        document.getElementById('btn4').onclick = onClick;
        document.getElementById('btn5').onclick = onClick;
        document.getElementById('btn6').onclick = onClick;
        document.getElementById('btn7').onclick = onClick;
        document.getElementById('btn8').onclick = onClick;
        document.getElementById('btn9').onclick = onClick;
        document.getElementById('btn10').onclick = onClick;
        document.getElementById('btn11').onclick = onClick;
        document.getElementById('btn12').onclick = onClick;
        document.getElementById('btn13').onclick = onClick;
        document.getElementById('btn14').onclick = onClick;
        document.getElementById('btn15').onclick = onClick;
        document.getElementById('btn16').onclick = onClick;
        document.getElementById('btn16').onclick = onClick;
        document.getElementById('btn17').onclick = onClick;
        document.getElementById('btn18').onclick = onClick;
        document.getElementById('btn19').onclick = onClick;
        document.getElementById('btn20').onclick = onClick;
        document.getElementById('btn21').onclick = onClick;
        document.getElementById('btn22').onclick = onClick;
        document.getElementById('btn23').onclick = onClick;
        document.getElementById('btn24').onclick = onClick;
    </script>
    <script>
        $.validator.unobtrusive.parse("#bookingForm");
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
