@using GeneralCargoSystem.Utility
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Users";
}
<style>
        #tblData {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        background-color: black;
        border-radius: 12px;
        color:white;
    }

        #tblData th:first-child {
            border-top-left-radius: 12px;
        }

        #tblData th:last-child {
            border-top-right-radius: 12px;
        }

        /*        #myTable td, #myTable th {
                border: 1px solid #ddd;
                padding: 8px;
            }*/

        #tblData tr:hover {
            background-color: dodgerblue;
        }

        #tblData th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: deepskyblue;
            color: white;
        }
</style>
<center>
<header>
    <h1>Users <i class="fa fa-users"></i></h1>
</header>
</center>
<div class="card">
    <div class="card-body">
<!-- Main content -->
<div class="content">
    <div class="container-fluid">

        @if (User.IsInRole(Enums.Supervisor))
        {
        <div class="col-7 text-right" style="float:right; padding-left:500px;">
        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">
        <i class="fas fa-plus"></i>
        &nbsp; Register New User
        </a>
        </div>
        }
                <br />
        <br/>
        <br />
        <br/>
        <div class="p-4 border rounded">
            <table id="tblData" class="table" style="width:100%">
                <thead>
                    <tr>
                        <th>Created On</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Role</th>
                        <th>Verification</th>
                        <th>User Status</th>
                        <th>Edit Role</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- /.row -->
</div><!-- /.container-fluid -->
<!-- Main content -->
<!-- /.content -->

    </div>
</div>

<script type="text/javascript" src="~/lib/datatables/jquery-3.6.0.js"></script>
<link type="text/css" href="~/lib/datatables/datatables.min.css" rel="stylesheet">
<script type="text/javascript" src="~/lib/datatables/datatables.js"></script>


<script>
﻿var dataTable;

$(document).ready(function () {
    loadDataTable();
});


function loadDataTable() {
      
    dataTable = $('#tblData').DataTable({
        "ajax": {
            "url": "/Management/User/Users"
        },
                "order": [[0, 'desc']],
        "columnDefs": [ {
      targets: 0,
render:$.fn.dataTable.render.moment('', 'DD MMMM YYYY')
    } ],
        dom: 'Bfrtip',
        language: {
                    zeroRecords: "No related data found",
                },
            buttons: [
                {
                    extend: 'pageLength',
                },
                {
                    extend: 'copy',
                    title: 'Users - General Cargo',
                    text:'<i class= "fa fa-copy"></i> Copy'
                },
                {
                    extend: 'excel',
                    title: 'Users - General Cargo',
                    text: '<i class= "fa fa-file-excel"></i> Excel'
                },
                {
                    extend: 'pdf',
                    title: 'Users - General Cargo',
                    text: '<i class= "fa fa-file-pdf"></i> PDF'
                },
                {
                    extend: 'csv',
                    title: 'Users - General Cargo',
                    text: '<i class= "fa fa-file-csv"></i> CSV'
                },
                {
                    extend: 'print',
                    title: 'Users - General Cargo',
                    text: '<i class= "fa fa-print"></i> Print'
                }
            ],

        "columns": [
            { "data": "createdOnDateTime", "width": "15%" },
            { "data": "firstName", "width": "15%" },
            { "data": "lastName", "width": "15%" },
            { "data": "email", "width": "15%" },
            { "data": "phoneNumber", "width": "15%" },
            { "data": "role", "width": "15%" },
            {
                "data": {
                    emailConfirmed: "emailConfirmed"
                },

                "render": function (data) {

                    if (data.emailConfirmed == true) {
                        return `
                            <div class="text-center">
                                <a class="btn btn-success" style="cursor:not-allowed" data-toggle="tooltip" data-placement="top" title="Email Verified">
                                  <i class="fas fa-check"></i>
                                </a>
                            </div>
                           `;
                    }

                    else {
                        return `
                            <div class="text-center">
                                <a  class="btn btn-danger text-white" style="cursor:not-allowed" data-toggle="tooltip" data-placement="top" title="Not Email Verified">
                                 <i class="fas fa-times"></i>
                                </a>
                            </div>
                           `;
                    }


                }, "width": "10%"

            },

            {
                "data": {
                    id: "id", userStatus: "userStatus"
                },
                "render": function (data) {
                    if (data.userStatus == false) {
                        //user is currently deactivated
                        return `
                            <div class="text-center">
                                <a onclick=UserStatus('${data.id}') class="btn btn-danger text-black" style="cursor:pointer;" title="Activate User">
                                     <i class="fas fa-times"></i>
                                </a>
                            </div>
                           `;
                           
                    }
                    else {
                        return `
                            <div class="text-center">
                                <a onclick=UserStatus('${data.id}') class="btn btn-success text-black" style="cursor:pointer;" title="Deactivate User">
                                     <i class="fas fa-check"></i>
                                </a>
                            </div>
                           `;
                    }

                }, "width": "25%"
            },
            {
                "data": {
                    id: "id", userStatus: "userStatus"
                },
                "render": function (data) {
                   
                        return `
                            <div class="text-center">
                                <a data-ajax="true" data-ajax-url=@Url.Action("EditRole","User",new{id="124"}) data-ajax-success="Modal.PartialView" class="btn btn-success text-black" style="cursor:pointer;" title="Edit User Role">
                                     <i class="fas fa-pencil"></i>
                                </a>
                            </div>
                           `;
                           
                           
                }, "width": "25%"
            }
        ]
    });
}

function UserStatus(id) {

    $.ajax({
        type: "POST",
        url: '/Management/User/UserStatus',
        data: JSON.stringify(id),
        contentType: "application/json",
        success: function (data) {
            if (data.success) {
                //toastr.success(data.message);
                Swal.fire(
                 'Updated User Status',
                 data.message,
                    'success'
                        )
                $('#tblData').DataTable().ajax.reload();
            }
            else {
                Swal.fire(
                 'User Status Not Updated',
                 data.message,
                    'error'
                        )
                //toastr.error(data.message);
            }
        }
    });
}

</script>
